In [29]:
import pandas as pd
import numpy as np


df = pd.read_csv('./weather_ww2.csv',low_memory=False)

df.head()

print("No of nan = ",df.isna().sum())
df = df.drop(axis=1,labels=['WindGustSpd'])
#dropping na values bz dataset is huge so no matters
print("cols = ",df.columns)
df = df.dropna(axis=1,how='all')
print("----------------------------")
print("after dropping na rows = ",df.isna().sum())

print("Replacinn na with its mean value.")
df = df.fillna(0)

No of nan =  STA                 0
Date                0
Precip              0
WindGustSpd    118508
MaxTemp             0
MinTemp             0
MeanTemp            0
Snowfall         1163
PoorWeather     84803
YR                  0
MO                  0
DA                  0
PRCP             1932
DR             118507
SPD            118508
MAX               474
MIN               468
MEA               498
SNF              1163
SND            113477
FT             119040
FB             119040
FTI            119040
ITH            119040
PGT            118515
TSHDSBRSGF      84803
SD3            119040
RHX            119040
RHN            119040
RVG            119040
WTE            119040
dtype: int64
cols =  Index(['STA', 'Date', 'Precip', 'MaxTemp', 'MinTemp', 'MeanTemp', 'Snowfall',
       'PoorWeather', 'YR', 'MO', 'DA', 'PRCP', 'DR', 'SPD', 'MAX', 'MIN',
       'MEA', 'SNF', 'SND', 'FT', 'FB', 'FTI', 'ITH', 'PGT', 'TSHDSBRSGF',
       'SD3', 'RHX', 'RHN', 'RVG', 'WTE'],
      dtype='object')
----------------------------
after dropping na rows =  STA                 0
Date                0
Precip              0
MaxTemp             0
MinTemp             0
MeanTemp            0
Snowfall         1163
PoorWeather     84803
YR                  0
MO                  0
DA                  0
PRCP             1932
DR             118507
SPD            118508
MAX               474
MIN               468
MEA               498
SNF              1163
SND            113477
PGT            118515
TSHDSBRSGF      84803
dtype: int64
Replacinn na with its mean value.

In [30]:
df.head(101)

       STA       Date Precip    MaxTemp  ...  SNF  SND  PGT TSHDSBRSGF
0    10001   1942-7-1  1.016  25.555556  ...    0  0.0  0.0          0
1    10001   1942-7-2      0  28.888889  ...    0  0.0  0.0          0
2    10001   1942-7-3   2.54  26.111111  ...    0  0.0  0.0          0
3    10001   1942-7-4   2.54  26.666667  ...    0  0.0  0.0          0
4    10001   1942-7-5      0  26.666667  ...    0  0.0  0.0          0
..     ...        ...    ...        ...  ...  ...  ...  ...        ...
96   10001  1942-10-5      0  31.111111  ...    0  0.0  0.0          0
97   10001  1942-10-6  0.254  29.444444  ...    0  0.0  0.0          0
98   10001  1942-10-7   5.08  29.444444  ...    0  0.0  0.0          0
99   10001  1942-10-8  2.032  28.888889  ...    0  0.0  0.0          0
100  10001  1942-10-9      0  31.111111  ...    0  0.0  0.0          0

[101 rows x 21 columns]

In [31]:
df.describe()

                 STA        MaxTemp  ...       SND            PGT
count  119040.000000  119040.000000  ...  119040.0  119040.000000
mean    29659.435795      27.045111  ...       0.0       0.053300
std     20953.209402       8.717817  ...       0.0       0.886512
min     10001.000000     -33.333333  ...       0.0       0.000000
25%     11801.000000      25.555556  ...       0.0       0.000000
50%     22508.000000      29.444444  ...       0.0       0.000000
75%     33501.000000      31.666667  ...       0.0       0.000000
max     82506.000000      50.000000  ...       0.0      23.900000

[8 rows x 14 columns]

In [ ]:
print(df.columns)

In [51]:
! pip install tabulate

Collecting tabulate
  Downloading tabulate-0.9.0-py3-none-any.whl.metadata (34 kB)
Downloading tabulate-0.9.0-py3-none-any.whl (35 kB)
Installing collected packages: tabulate
Successfully installed tabulate-0.9.0

In [ ]:
# Clean 'Snowfall' column to ensure all values are numeric
df['Snowfall'] = pd.to_numeric(df['Snowfall'], errors='coerce').fillna(0)
print(np.corrcoef(df['MinTemp'], df['Snowfall'].astype(float)))

[[ 1.         -0.30785369]
 [-0.30785369  1.        ]]

In [56]:
from tabulate import tabulate # type: ignore
## correlation matrix

corr_matr = df.corr(numeric_only=True) # karl-pearson

print(tabulate(corr_matr,headers='keys',tablefmt='grid',numalign='right',floatfmt='.2f'))

+----------+-------+-----------+-----------+------------+------------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+
|          |   STA |   MaxTemp |   MinTemp |   MeanTemp |   Snowfall |    YR |    MO |    DA |    DR |   SPD |   MAX |   MIN |   MEA |   SND |   PGT |
+==========+=======+===========+===========+============+============+=======+=======+=======+=======+=======+=======+=======+=======+=======+=======+
| STA      |  1.00 |      0.09 |      0.06 |       0.08 |      -0.06 |  0.12 | -0.01 |  0.00 | -0.02 | -0.02 |  0.09 |  0.06 |  0.08 |   nan | -0.01 |
+----------+-------+-----------+-----------+------------+------------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+
| MaxTemp  |  0.09 |      1.00 |      0.88 |       0.97 |      -0.32 |  0.04 |  0.03 | -0.01 |  0.01 |  0.01 |  1.00 |  0.88 |  0.97 |   nan |  0.01 |
+----------+-------+-----------+-----------+------------+------------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+
| MinTemp  |  0.06 |      0.88 |      1.00 |       0.97 |      -0.31 | -0.02 |  0.07 | -0.00 |  0.04 |  0.03 |  0.88 |  1.00 |  0.97 |   nan |  0.03 |
+----------+-------+-----------+-----------+------------+------------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+
| MeanTemp |  0.08 |      0.97 |      0.97 |       1.00 |      -0.32 |  0.01 |  0.05 | -0.00 |  0.03 |  0.02 |  0.97 |  0.97 |  1.00 |   nan |  0.02 |
+----------+-------+-----------+-----------+------------+------------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+
| Snowfall | -0.06 |     -0.32 |     -0.31 |      -0.32 |       1.00 | -0.00 | -0.04 | -0.00 | -0.01 | -0.01 | -0.32 | -0.31 | -0.32 |   nan | -0.01 |
+----------+-------+-----------+-----------+------------+------------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+
| YR       |  0.12 |      0.04 |     -0.02 |       0.01 |      -0.00 |  1.00 | -0.14 | -0.01 |  0.06 |  0.07 |  0.04 | -0.02 |  0.01 |   nan |  0.06 |
+----------+-------+-----------+-----------+------------+------------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+
| MO       | -0.01 |      0.03 |      0.07 |       0.05 |      -0.04 | -0.14 |  1.00 |  0.01 | -0.00 | -0.02 |  0.03 |  0.07 |  0.05 |   nan | -0.02 |
+----------+-------+-----------+-----------+------------+------------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+
| DA       |  0.00 |     -0.01 |     -0.00 |      -0.00 |      -0.00 | -0.01 |  0.01 |  1.00 | -0.00 | -0.00 | -0.01 | -0.00 | -0.00 |   nan | -0.00 |
+----------+-------+-----------+-----------+------------+------------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+
| DR       | -0.02 |      0.01 |      0.04 |       0.03 |      -0.01 |  0.06 | -0.00 | -0.00 |  1.00 |  0.88 |  0.01 |  0.04 |  0.03 |   nan |  0.81 |
+----------+-------+-----------+-----------+------------+------------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+
| SPD      | -0.02 |      0.01 |      0.03 |       0.02 |      -0.01 |  0.07 | -0.02 | -0.00 |  0.88 |  1.00 |  0.01 |  0.03 |  0.02 |   nan |  0.87 |
+----------+-------+-----------+-----------+------------+------------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+
| MAX      |  0.09 |      1.00 |      0.88 |       0.97 |      -0.32 |  0.04 |  0.03 | -0.01 |  0.01 |  0.01 |  1.00 |  0.88 |  0.97 |   nan |  0.01 |
+----------+-------+-----------+-----------+------------+------------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+
| MIN      |  0.06 |      0.88 |      1.00 |       0.97 |      -0.31 | -0.02 |  0.07 | -0.00 |  0.04 |  0.03 |  0.88 |  1.00 |  0.97 |   nan |  0.03 |
+----------+-------+-----------+-----------+------------+------------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+
| MEA      |  0.08 |      0.97 |      0.97 |       1.00 |      -0.32 |  0.01 |  0.05 | -0.00 |  0.03 |  0.02 |  0.97 |  0.97 |  1.00 |   nan |  0.02 |
+----------+-------+-----------+-----------+------------+------------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+
| SND      |   nan |       nan |       nan |        nan |        nan |   nan |   nan |   nan |   nan |   nan |   nan |   nan |   nan |   nan |   nan |
+----------+-------+-----------+-----------+------------+------------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+
| PGT      | -0.01 |      0.01 |      0.03 |       0.02 |      -0.01 |  0.06 | -0.02 | -0.00 |  0.81 |  0.87 |  0.01 |  0.03 |  0.02 |   nan |  1.00 |
+----------+-------+-----------+-----------+------------+------------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+